# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
.env
.env/
# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Encryption Keys
# ==========================
keys/

# ==========================
# Local Configuration
# ==========================
config/bot.json

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Cache
# ==========================
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ==========================
# Build
# ==========================
dist/
build/
*.egg-info/
*.sqlite3
*.db
.env
